/* this is going to be the compiled CSS, but for now it is manually translated */

::-webkit-scrollbar             { width: 10px         }
::-webkit-scrollbar-track       { background: #f1f1f1 }
::-webkit-scrollbar-thumb       { background: #aaa    }
::-webkit-scrollbar-thumb:hover { background: #777    }

h1                 { font: 6em 'Yatra One', cursive    }
h2, h3, h4, h5, h6 { font-family: 'David Libre', serif }

.tropicsapling {
	position: relative;
	height: 100%;
}

.tropicsapling * { color: white  }
.section-content { padding: 0 2% }

.section-bg {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.page-quote { font-family: 'David Libre', serif }

.page-quote q {
	font-size: 1.5em;
	font-weight: bold;
}

.page-quote span {
	font-size: small;
	font-weight: normal;
}

.scroller {
	display: grid;
	position: absolute;
	bottom: 10%;
	left: 0;
	width: 100%;
	filter: invert(1);
	animation: jump 4s infinite;
}

.scroller img {
	justify-self: center;
	width: 3em;
}

@keyframes jump {
	0%, 75%, 100% {
		transform: translateY(0);
	}
	
	82.5% {
		transform: translateY(0.5rem);
	}
}

@media (orientation: portrait) {
	h1                     { font-size: 8em     }
	h2                     { font-size: 3em     }
	h1, h2, h3, h4, h5, h6 { text-align: center }

	.section-content { padding-top: 10% }

	.page-quote      { text-align: center }
	.page-quote q    { font-size: 2.5em   }
	.page-quote span { font-size: large   }

	.scroller img { width: 6em }
}
