/* CSS-- changes to default CSS properties */

* {box-sizing: border-box} /* margin & padding included in width & height */

body {margin: 0}

h1, h2, h3, h4, h5, h6 {
    /* varying margin replaced with fixed padding for less weirdness */
    margin: 0;
    padding-block-end: 0.5rem;
    padding-block-start: 0.5rem;
}
