/* this is going to be the compiled CSS, but for now it is manually translated */

body {
	margin: 0;
}

* {
	color: black;
}

.grid-black-white-100 {
	display: grid;

	grid-template-areas: "obj1 obj2 obj3"
	                     ".    obj4 .   "
	                     "obj5 obj6 obj7";

	grid-gap: 100px;

	background-color: black;
}

.grid-black-white-100 {
	color: white;
}

.grid-black-white-100 .obj {
	width: 200px;
	height: 200px;
	background-color: blue;
	margin: 10px;
}

.grid-black-white-100 > .obj4 {
	background-color: red;
}

.obj1 {grid-area: obj1;}
.obj2 {grid-area: obj2;}
.obj3 {grid-area: obj3;}
.obj4 {grid-area: obj4;}
.obj5 {grid-area: obj5;}
.obj6 {grid-area: obj6;}
.obj7 {grid-area: obj7;}

@font-face {
	font-family: Viking;
	src: url(../fonts/Viking.ttf);
}
