/* this is going to be the compiled CSS, but for now it is manually translated */

@font-face {
	font-family: Viking;
	src: url(../fonts/Viking.ttf);
}

/* NOTE: Custom scrollbar doesn't work on IE nor Firefox */
/* This is not really important though, website looks fine anyway */
::-webkit-scrollbar             {width: 10px}
::-webkit-scrollbar-track       {background: #f1f1f1}
::-webkit-scrollbar-thumb       {background: #aaa}
::-webkit-scrollbar-thumb:hover {background: #777}

*                  {color: white}
h1                 {font: 6em 'Yatra One', cursive}
h2, h3, h4, h5, h6 {font-family: 'David Libre', serif}

@media (orientation: portrait) {
	h1, em {text-align: center}
}

.tropicsapling {
	position: relative;
	height: 100%;
}

.tropicsapling > div {
	padding: 2%;
	padding-top: 0;
}

.main-bg {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.scroller {
	position: absolute;
	bottom: 10%;
	left: 0;
	margin-left: 50%;
	width: 3rem;
	filter: invert(1);
}
